<app-header></app-header>
<main class="main-content">
  <div class="card-container">
    <a routerLink="/protocolos" class="card">
      <div class="card-icon">📁</div>
      <div class="card-title">Protocolos</div>
      <div class="card-description">Acesse e visualize pastas públicas.</div>
    </a>

    <a
      href="https://centraldeservicos.saude.df.gov.br/front/central.php"
      target="_blank"
      class="card"
    >
      <div class="card-icon">📞</div>
      <div class="card-title">CHAMADOS</div>
      <div class="card-description">
        Gerencie e acompanhe seus chamados na CENTRAL DE SERVIÇOS.
      </div>
    </a>

    <a href="https://linksuteis.saude.df.gov.br/" target="_blank" class="card">
      <div class="card-icon">💻</div>
      <div class="card-title">SISTEMAS - SES DF</div>
      <div class="card-description">Atalho para todos sistemas da SES DF.</div>
    </a>

    <a routerLink="/farmacias" class="card">
      <div class="card-icon">🏥</div>
      <div class="card-title">FARMÁCIA</div>
      <div class="card-description">Consulte informações de farmácias.</div>
    </a>

    <a
      href="http://listatelefonica.saude.df.gov.br/"
      target="_blank"
      class="card"
    >
      <div class="card-icon">☎️</div>
      <div class="card-title">TELEFONES - SES DF</div>
      <div class="card-description">Lista de telefones da SES.</div>
    </a>
    <a routerLink="/formularios" class="card">
      <div class="card-icon">📄</div>
      <div class="card-title">FORMULÁRIOS - SES DF</div>
      <div class="card-description">
        Acesso a formulários diversos do HRG e da SES DF.
      </div>
    </a>
    <a routerLink="/login" class="card">
      <div class="card-icon">🔐</div>
      <div class="card-title">Acesso Administrativo</div>
      <div class="card-description">Gerencie pastas e usuários do sistema.</div>
    </a>
  </div>
</main>
<app-footer></app-footer>
